.about {
    .container {
        max-width: 589px;
    }
    
    h2 {
        font-family: Merienda;
        font-size: 24px;
        line-height: 34.66px;
        text-align: center;
        margin: 80px 0 20px;

    }
    p {
        margin: 40px 0 101px;
        font-family: Merienda;
        font-size: 14px;
        line-height: 20.22px;
        text-align: center;

    }
}